<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="TeemaApplication.Properties.Settings.TeemaApplicationConnectionString"
            connectionString="Data Source=PRABHATH;Initial Catalog=Teema;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>