<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="TeemaApplication.Properties.Settings.TeemaApplicationConnectionString"
            connectionString="Data Source=HESHITHA-PC;Initial Catalog=TeemaApplication;User ID=teemaapplication;Password=teema"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>